.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasSvg {
  transform: translate(150px, 10px);
}

.title1 {
  padding-left: 10px;
  font-family: sans-serif;
}

.sliders {
  padding-left: 15px;
  width: 40%;
}
